- hosts: debian
  tasks:
  - name: apt-update
    apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

  - name: apt-upgrade
    ansible.builtin.apt:
      name: "*"
      state: latest

- hosts: fedora
  tasks: 
  - name: dnf-update-full
    ansible.builtin.command:
      cmd: dnf upgrade -y
    register: dnf_upgrade_result
    changed_when: "'Nothing to do' not in dnf_upgrade_result.stdout"

# - hosts: fedora
#   tasks: 
#   - name: dnf-update-full
#     dnf:
#       name: "*"
#       state: latest


- hosts: opensuse
  tasks:
  - name: zypper-full-update
    zypper:
      name: '*'
      state: latest
      type: patch
    
