# KVM Host Configuration
host_ip   = "IP_address_here"
host_user = "username_here"

# SSH Key - Replace with your actual public key
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAA... your_key_here"

# Common root password for all VMs
root_password = "your_root_password"

# Common user password for all VMs
user_password = "your_user_password"
