#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password}
    ssh_authorized_keys:
      - ${ssh_key}
  - name: user
    lock_passwd: false
    hashed_passwd: ${user_password}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
package_upgrade: true

packages:
  - task-gnome-desktop
  - openssh-server
  - vim
  - tmux
  - tilix
  - wget
  - curl
  - gnupg
  - software-properties-common
  - apt-transport-https

runcmd:
  - update-alternatives --set editor /usr/bin/vim.basic
  - sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
  - systemctl restart sshd
  - systemctl set-default graphical.target
  - |
    wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > /usr/share/keyrings/packages.microsoft.gpg
    echo "deb [arch=amd64 signed-by=/usr/share/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" > /etc/apt/sources.list.d/vscode.list
    apt-get update
    apt-get install -y code
  - |
    wget https://download.nomachine.com/download/8.14/Linux/nomachine_8.14.2_1_amd64.deb
    dpkg -i nomachine_8.14.2_1_amd64.deb || apt-get install -f -y
    rm nomachine_8.14.2_1_amd64.deb
  - |
    sudo -u user dbus-launch gsettings set org.gnome.desktop.interface scaling-factor 1.5
    sudo -u user dbus-launch gsettings set org.gnome.desktop.interface color-scheme 'default'
    sudo -u user dbus-launch gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")/ font 'Monospace 13'
    sudo -u user dbus-launch gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")/ use-system-font false
  - |
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Terminal'
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'gnome-terminal'
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Primary><Alt>t'

power_state:
  mode: reboot
  timeout: 300
  condition: true
