#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password}
    ssh_authorized_keys:
      - ${ssh_key}
  - name: user
    lock_passwd: false
    hashed_passwd: ${user_password}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
package_upgrade: true

packages:
  - '@workstation-product-environment'
  - openssh-server
  - vim
  - tmux
  - tilix
  - wget

runcmd:
  - echo 'export EDITOR=vim' >> /etc/profile
  - sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
  - systemctl restart sshd
  - systemctl set-default graphical.target
  - |
    rpm --import https://packages.microsoft.com/keys/microsoft.asc
    cat > /etc/yum.repos.d/vscode.repo << 'EOF'
    [code]
    name=Visual Studio Code
    baseurl=https://packages.microsoft.com/yumrepos/vscode
    enabled=1
    gpgcheck=1
    gpgkey=https://packages.microsoft.com/keys/microsoft.asc
    EOF
    dnf install -y code
  - |
    wget https://download.nomachine.com/download/8.14/Linux/nomachine_8.14.2_1_x86_64.rpm
    dnf install -y nomachine_8.14.2_1_x86_64.rpm
    rm nomachine_8.14.2_1_x86_64.rpm
  - |
    sudo -u user dbus-launch gsettings set org.gnome.desktop.interface scaling-factor 1.5
    sudo -u user dbus-launch gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
    sudo -u user dbus-launch gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")/ font 'Monospace 13'
    sudo -u user dbus-launch gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")/ use-system-font false
  - |
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ name 'Terminal'
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ command 'gnome-terminal'
    sudo -u user dbus-launch gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/ binding '<Primary><Alt>t'

power_state:
  mode: reboot
  timeout: 300
  condition: true
