#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local

users:
  - name: root
    lock_passwd: false
    hashed_passwd: ${root_password}
    ssh_authorized_keys:
      - ${ssh_key}
  - name: user
    lock_passwd: false
    hashed_passwd: ${user_password}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
package_upgrade: true

packages:
  - openssh-server
  - vim
  - tmux
  - console-setup

runcmd:
  - update-alternatives --set editor /usr/bin/vim.basic
  - sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
  - systemctl restart sshd
  - |
    cat > /etc/default/console-setup << 'EOF'
    ACTIVE_CONSOLES="/dev/tty[1-6]"
    CHARMAP="UTF-8"
    CODESET="guess"
    FONTFACE="TerminusBold"
    FONTSIZE="10x20"
    EOF
  - setupcon

power_state:
  mode: reboot
  timeout: 300
  condition: true
